lite/.env
pro/.env
lite/python_api/__pycache__/
pro/python_api/__pycache__/
lite/python_api/data/__pycache__/
pro/python_api/data/__pycache__/
lite/python_api/models/__pycache__/
pro/python_api/models/__pycache__/
pro/python_api/analysis/__pycache__/
pro/python_api/database/betting_v2.db
